<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Edit Word</h2>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <%= form_for [:admin,@category,@word] do |f| %>
                            <%= render 'shared/error_messages', object: f.object %>
                            <div class="form-group">
                                <%= f.label :word %>
                                <%= f.text_field :word, class: 'form-control', placeholder: "Please enter Category Title" %>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-center">
                                    <%= link_to  "Cancel", admin_category_words_path %>
                                </div>
                                <div class="col-lg-9">
                                    <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
                                </div>
                            </div>
                        <% end %>
                    </blockquote>
                 </div>
            </div>
        </div>
    </div>
</div>

