<div class="jumbotron backgroundimg4 jumbotron-fluid mb-0 p-4">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="card login_form2">
                        <div class="card-body">
                            <h2 class="text-center">Edit Profile</h2>
                            <hr class="m-2">
                            <%= form_for @user do |f| %>
                                <%= render 'shared/error_messages', object: f.object %>
                                <div class="text-center">    
                                    <% if @user.picture.blank? %>
                                        <%= image_tag '/default.png', class: 'rounded-circle mb-2 large-image' %>
                                    <% else %>
                                        <%= image_tag @user.picture.to_s, class:'rounded-circle mb-2 large-image'%>
                                    <% end %>
                                </div>
                                <div class="form-group text-center mb-1">
                                    <%= f.file_field :picture %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :name %>
                                    <%= f.text_field :name, class: 'form-control' %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :email %>
                                    <%= f.text_field :email, class: 'form-control' %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password %>
                                    <%= f.password_field :password, class: 'form-control' %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password_confirmation %>
                                    <%= f.password_field :password_confirmation, class: 'form-control' %>
                                </div>
                                <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</div> 
                