<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <h1><%= current_user.name %></h1>
                <%= current_user.email %></h1>
                <section class="stats">
                    <%= render 'users/stats' %>
                </section>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h2>Acitivity Feed</h2>  
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <table class="table table-striped">
                        <tbody>
                            <% @activities.each do |activity| %>
                                <tr>
                                    <td>
                                        <% if @user.picture.blank? %>
                                            <%= image_tag '/default.png', class:'rounded-circle ml-4' %>
                                        <% else %>
                                            <%= image_tag @user.picture.to_s, class:'rounded-circle ml-4'%>
                                        <% end %>
                                    </td>
                                    <td>
                                         <%= link_to "You", current_user %> learned <%= activity.action.results %> of <%= activity.action.category.words.count %> in  <%= link_to activity.action.category.title, lesson_url(activity.action.id) %><br>
                                         <small class="text-muted"><%= time_ago_in_words(activity.created_at) %> ago</small>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </blockquote>
            </div>
        </div>
        <div class="text-center border-top pt-3">
            <%= will_paginate @activities %>
        </div>    
    </div>      
</div>

