<h1 class="text-center border-bottom mb-3">Users</h1>
<% if @users.nil? %>
    <h4>Nothing to display</h2>
<% else %>
    <div class="row">
        <% @users.each do |user| %>
            <div class="col-lg-6">
                <div class="media">
                    <div class="media-body">
                        <div class="jumbotron jumbotron-fluid p-2 mb-3">
                            <div class="row">
                                <div class="col-lg-5">
                                <% if user.picture.blank? %>
                                    <%= image_tag '/default.png', class:'rounded-circle ml-4 small-image' %>
                                <% else %>
                                    <%= image_tag user.picture.to_s, class:'rounded-circle ml-4 small-image'%>
                                <% end %>
                                </div>
                                <div class="col-lg-7 text-center">
                                    <h4><%= link_to user.name, user %></h4>
                                    <% unless current_user?(user) %>
                                        <div id="follow-form">
                                            <% if current_user.following?(user) %>
                                                <%= render 'unfollow', user: user %>
                                            <% else %>
                                                <%= render 'follow', user: user%>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="text-center border-top pt-3">
        <%= will_paginate %>
    </div>    
<% end %>
