<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <% if @user.picture.blank? %>
                    <%= image_tag '/default.png', class:'rounded-circle large-image mb-2' %>
                <% else %>
                    <%= image_tag @user.picture.to_s, class:'rounded-circle large-image mb-2'%>
                <% end %>
                <h1><%= current_user.name %></h1>
                <%= current_user.email %><hr>
                <section class="stats">
                    <%= render 'users/stats' %><hr>
                </section>
                <%= link_to current_user.lessons.sum(:results) %> <br>Words learned<br>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>      
</div>
            