<div class="jumbotron backgroundimg3 jumbotron-fluid mb-0 p-0">
    <div class="div_opasity">
        <div class="container p-3">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h1><%= @lesson.category.title %></h1>
                        </div>
                        <div class="col-lg-6 text-right">
                            <h1><%= @lesson.answers.count+1 %> of <%= @lesson.category.words.count %></h1>
                        </div>
                    </div>
                    <div class="jumbotron">
                        <h1 class="text-center"><%= @lesson.next_word.word %></h1>
                        <div class="lead">
                            <% @lesson.next_word.choices.each do |choice| %>           
                                <%= form_for ([:lesson,@answer]) do |f| %>
                                    <%= f.hidden_field :word_id, :value => choice.word_id %>
                                    <%= f.hidden_field :choice_id, :value => choice.id %>
                                    <%= f.submit choice.choice, class: 'btn btn btn-outline-dark btn-block mb-3'%>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
