<div class="jumbotron backgroundimg3 jumbotron-fluid mb-0 p-0">
    <div class="div_opasity">
        <div class="container p-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <% if @user.picture.blank? %>
                                <%= image_tag '/default.png', class:'rounded-circle large-image mb-2' %>
                            <% else %>
                                <%= image_tag @user.picture.to_s, class:'rounded-circle large-image mb-2'%>
                            <% end %>
                            <h1><%= @user.name %></h1>
                            <%= @user.email %><hr>
                            <section class="stats">
                                <%= render 'users/stats' %><hr>
                            </section>
                            <%= link_to @learnwordscount, user_words_path(@user) %> <br>Words learned<br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card p-2">
                        <blockquote class="blockquote mb-0">
                            <div class="card-header">
                                <div class="row">
                                    <%# <div class="col-lg-6 text-left m-0">    %>
                                        <%#= form_tag(user_words_path, method: 'get') do %>
                                            <%#= label_tag :title, "Category" %>
                                            <%#= select_tag :title, options_from_collection_for_select(@categories, :id, :title, params[:title]), include_blank: "ALL", onchange: 'this.form.submit()' %>
                                        <%# end %>
                                    <%# </div> %>
                                    <div class="dropdown">
                                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <%= @category_name %>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <%= link_to "All", user_words_path(), class: 'dropdown-item' %>
                                            <% @categories.each do |category|%>
                                                <%= link_to category.title, user_words_path(status: category.id), class: 'dropdown-item' %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-right m-0">
                                        <%= link_to "Back to Dashboard", feed_path %>
                                    </div>
                                </div>  
                            </div>   
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Word</th>
                                        <th>Correct Answer</th>
                                        <th>Your Answer</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @answers.each do |answer|%>
                                        <tr>
                                            <td><%= answer.word.word %></td>
                                            <td><%= answer.word.correct_choice.choice %></td>
                                            <td><%= answer.choice.choice %></td>
                                            <% if  answer.word.correct_choice.choice == answer.choice.choice%>
                                                <td><i class="fa fa-check"></i></td>
                                            <% else %>
                                                <td><i class="fa fa-times"></i></td>
                                            <% end %>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
         <div class="text-center mt-0 paginate">
            <%= will_paginate @answers %>
        </div>
    </div>
</div>



